// --- Variables
$shell-canvas-background-color: #202020;
$title-bar-background-color: #282828;
$title-color: #f89406;
$status-bar-background-color: #007acc;
$source-panel-background-color: #383838;
$preview-panel-background-color: #606060;
$sizer-background-color: #0000f0;
$tab-bar-background-color: #007acc;
$source-file-background-color: #f0f0f0;

$splitter-background-color: #282828;
$splitter-size: 6px;
$splitter-handle-background-color: #404040;
$splitter-handle-size: 64px;

* {
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

// ============================================================================
// Component specific styles
// ============================================================================
.app-container-component {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    background-color: $shell-canvas-background-color;
    user-select: none;

    &.vertical-resize {
        cursor: ns-resize;
    }

    &.horizontal-resize {
        cursor: ew-resize;
    }
}

.title-bar-component {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    color: white;
    align-content: start;
    justify-items: start;
    padding: 8px 12px;
    background-color: var(--title-bar-background-color);

    & h1 {
        flex-shrink: 0;
        margin: -4px 0 0 0;
        font-size: 1.6em;
        color: $title-color;
    }

    & p {
        margin: 6px 12px 0 12px;

        &.extra-left {
            margin-left: 16px;
        }
    }
}

.main-panel-component {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
}

.source-panel-component {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    width: 50%;
    padding: 4px 0 4px 4px;
    background-color: $source-panel-background-color;
}

.source-file-component {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: $source-file-background-color;
}


.preview-panel-component {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    z-index: 10;
    background-color: $preview-panel-background-color;
}

/*.sizer-component {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    width: 6px;
    cursor: ew-resize;
    background-color: $sizer-background-color;
}*/


.status-bar-component {
    display: flex;
    flex-shrink: 0;
    height: 24px;
    color: white;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    background-color: $status-bar-background-color;
}

// ============================================================================
// Control specific styles
// ============================================================================
.splitter-component {
    display: flex;
    flex-shrink: 0;
    background-color: $splitter-background-color;

    &.horizontal {
        flex-direction: row;
        width: $splitter-size;
        height: 100%;
    }

    &.cursor-horizontal {
        cursor: ew-resize;
    }

    &.vertical {
        flex-direction: column;
        height: $splitter-size;
    }

    &.cursor-vertical {
        cursor: ns-resize;
    }

    & .handle {
        justify-content: center;
        align-self: center;
        background-color: $splitter-handle-background-color;

        &.handle-horizontal {
            width: $splitter-size;
            height: $splitter-handle-size;
        }

        &.handle-vertical {
            height: $splitter-size;
            width: $splitter-handle-size;
        }
    }
}

// ============================================================================
// Radzen style overrides
// ============================================================================
.ui-dropdown {
    border-radius: 0;

    &.ui-dropdown-open {
        background-color: var(--field-background-color);
        border: var(--field-border);
    }
}

.ui-tabview {
    height: 100%;
}

.ui-tabview-panels {
    display: flex;
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}

.ui-tabview-panel.ui-widget-content {
    display: block;
    height: 100%;
    width: 100%;
    padding: 12px;
}
