.splitter-control {
  display: flex;
  flex-shrink: 0;
  background-color: var(--splitter-background-color); }
  .splitter-control.horizontal {
    flex-direction: row;
    width: var(--splitter-size);
    height: 100%; }
  .splitter-control.cursor-horizontal {
    cursor: ew-resize; }
  .splitter-control.vertical {
    flex-direction: column;
    height: var(--splitter-size); }
  .splitter-control.cursor-vertical {
    cursor: ns-resize; }
  .splitter-control .handle {
    justify-content: center;
    align-self: center;
    background-color: var(--splitter-handle-background-color); }
    .splitter-control .handle.handle-horizontal {
      width: var(--splitter-size);
      height: var(--splitter-handle-size); }
    .splitter-control .handle.handle-vertical {
      height: var(--splitter-size);
      width: var(--splitter-handle-size); }
