<div class="preview-panel-component" style="width: @Width">
    @CustomRender
</div>

@code
{
    [Parameter]
    public string TypeName { get; set; }

    [Parameter]
    public string Width { get; set; }

    RenderFragment CustomRender;

    protected override void OnParametersSet()
    {
        if (TypeName == null) return;
        var componentType = Type.GetType(TypeName);
        if (componentType == null) return;

        CustomRender = b =>
        {
            b.OpenComponent(0, componentType);
            b.CloseComponent();
        };
    }
}
