@page "/"

@inject IThemingService<ThemeProps> ThemingService
@implements IDisposable

    <div class="app-container-component" style="@ThemeStyle">
        <Titlebar></Titlebar>
        <MainPanel></MainPanel>
        <Statusbar></Statusbar>
    </div>

@code
{
    private string ThemeStyle;

    protected override void OnInit()
    {
        ThemingService.RegisterTheme(new ThemeInfo<ThemeProps>("dark", StockThemes.DarkTheme));
        ThemingService.RegisterTheme(new ThemeInfo<ThemeProps>("light", StockThemes.LightTheme));
        ThemingService.ThemeChanged += OnThemeChanged;
        ThemingService.SetTheme("dark");
    }

    private void OnThemeChanged(object sender, EventArgs e)
    {
        ThemeStyle = ThemingService.ComposeStyleAttributeFromTheme();
        Console.WriteLine($"Theme changed to {ThemingService.GetActiveTheme().Name}");
        StateHasChanged();
    }

    public void Dispose()
    {
        ThemingService.ThemeChanged -= OnThemeChanged;
    }
}