@page "/"

@inject IThemingService<ThemeProps> ThemingService
@inject IDemoMetadataService DemoMetadataService
@implements IDisposable

    <div class="app-container-component" style="@ThemeStyle">
        <Titlebar></Titlebar>
        <MainPanel></MainPanel>
        <Statusbar></Statusbar>
    </div>

@code
{
    private string ThemeStyle;

    protected override void OnInit()
    {
        // --- Set up themes
        ThemingService.RegisterTheme(new ThemeInfo<ThemeProps>("dark", "Dark", StockThemes.DarkTheme));
        ThemingService.RegisterTheme(new ThemeInfo<ThemeProps>("light", "Light", StockThemes.LightTheme));
        ThemingService.ThemeChanged += OnThemeChanged;
        ThemingService.SetTheme("dark");

        // --- Collect demo metadata
        var metadata = DemoHelper.GetDemos();
        DemoMetadataService.RegisterDemoMetadata(metadata);
    }

    private void OnThemeChanged(object sender, EventArgs e)
    {
        ThemeStyle = ThemingService.ComposeStyleAttributeFromTheme();
        StateHasChanged();
    }

    public void Dispose()
    {
        ThemingService.ThemeChanged -= OnThemeChanged;
    }
}