@page "/"
@using Dotneteer.BlazorBoard.Client.Themes

@inject IThemingService<ThemeProps> ThemingService

    <div class="app-container-component" style="@ThemeStyle">
        <Titlebar></Titlebar>
        <MainPanel></MainPanel>
        <Statusbar></Statusbar>
    </div>

@code
{
    private string ThemeStyle => ThemingService.ComposeStyleAttributeFromTheme();

    protected override void OnInit()
    {
        ThemingService.RegisterTheme(new ThemeInfo<ThemeProps>("dark", StockThemes.DarkTheme));
        ThemingService.RegisterTheme(new ThemeInfo<ThemeProps>("light", StockThemes.LightTheme));
        ThemingService.SetTheme("light");
    }
}