<div class="preview-panel-component" style="width: @Width">
    @CustomRender
</div>

@code
{
    [Parameter]
    string TypeName { get; set; }

    [Parameter]
    string Width { get; set; }

    RenderFragment CustomRender;

    protected override void OnParametersSet()
    {
        var componentType = Type.GetType(TypeName);
        if (componentType != null)
        CustomRender = b =>
        {
            b.OpenComponent(0, componentType);
            b.CloseComponent();
        };
    }
}
