<div @ref="@Element" class="source-panel-component" style="width: @Width">
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="source.js">
                <SourceFile Script="// This is JavaScript"/>
            </RadzenTabsItem>
            <RadzenTabsItem Text="source.html">
                <SourceFile Script="// This is HTML"/>
            </RadzenTabsItem>
            <RadzenTabsItem Text="source.css">
                <SourceFile Script="// This is CSS"/>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>

@code 
{
    [Parameter]
    string Width { get; set; }

    public ElementRef Element;

    protected override void OnParametersSet()
    {
        Console.WriteLine($"New width: {Width}");
    }
}
